.login-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#eef4ff;
    padding:40px;
}

.login-container{
    width:1100px;
    background:white;
    display:grid;
    grid-template-columns:1fr 1fr;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 25px 60px rgba(0,0,0,.12);
}

.login-left{
    background:linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
    padding:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.login-left h1{
    font-size:48px;
    margin-bottom:20px;
}

.login-left p{
    font-size:18px;
    text-align:center;
    margin-bottom:35px;
}

.login-left img{
    width:300px;
    border-radius:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

.login-right{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px;
}

.login-right form{
    width:100%;
    max-width:420px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
}

.login-right h2{
    text-align:center;
    margin-bottom:35px;
    color:#0f172a;
    font-size:34px;
}

.input-box{
    display:flex;
    align-items:center;
    background:#f8fafc;
    border:2px solid #e2e8f0;
    border-radius:12px;
    padding:0 15px;
    margin-bottom:22px;
    
}

.input-box:focus-within{
    border-color:#2563eb;
    box-shadow:0 0 15px rgba(37,99,235,.2);
}

.icon{
    color:#64748b;
}

.input-box input{
    width:100%;
    border:none;
    background:transparent;
    padding:16px;
    outline:none;
    font-size:16px;
    color:#0f172a;      /* Makes typed text dark and visible */
}

.input-box input::placeholder{
    color:#94a3b8;      /* Placeholder color */
}

.login-right button{
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.login-right button:hover{
    transform:translateY(-3px);
    box-shadow:0 15px 30px rgba(37,99,235,.35);
}

.login-right p{
    margin-top:20px;
    text-align:center;
}

.login-right a{
    color:#2563eb;
    font-weight:600;
    text-decoration:none;
    margin-left:6px;
}

@media(max-width:900px){

.login-container{
    grid-template-columns:1fr;
}

.login-left{
    display:none;
}

.login-right{
    padding:25px;
}

.login-right form{
    padding:10px;
    box-shadow:none;
}

}